@model Database.Models.UserModel


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .signup-container {
            width: 300px;
            margin: auto;
            margin-top: 50px;
        }

            .signup-container input {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
            }

            .signup-container button {
                width: 100%;
                padding: 10px;
                background-color: #4caf50;
                color: white;
                border: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form method="post" asp-action="Register">
            @*<div asp-validation-summary="All" class="alert-danger"></div> *@
            <div>
                <label for="FullName">Full Name:</label>
                <input type="text" id="FullName" name="Username" asp-for="Username" required />
            </div>


            <div>
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" required asp-for="Email" />
            </div>


            <div>
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" required asp-for="Password" />
            </div>
            <div>
                <label for="ConfirmPassword">Confirm Password:</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" required asp-for="ConfirmPassword" />
            </div>
            @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage.Length > 0)
            {
                <div class="alert alert-danger">
                    <p>@ViewBag.ErrorMessage</p>
                </div>
            }
            <button type="submit">Sign Up</button>
            <p>
                <a asp-action="Login">Already have an Account?</a>
            </p>
        </form>
    </div>
</body>
</html>

